manifold-toggle {
  --manifold-check-color: var(--manifold-c-blue);
  
  display: flex;
  align-items: center;
  margin: -0.5rem;
  padding: 0.5rem;
  overflow: hidden;

  &:focus-within {
    color: hsl(var(--manifold-c-blue));
  }
}

.mp--toggle__toggle {
  --switch-size: 1rem;

  position: relative;
  width: calc(2.5 * var(--switch-size));
  min-width: calc(2.5 * var(--switch-size));
  height: calc(0.5rem + var(--switch-size));
  background-color: hsl(var(--manifold-c-grey-light));
  border-radius: 2rem;
  transition: background-color 150ms linear;

  &::before {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    transition: border-color 150ms linear;
    content: '';
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: var(--switch-size);
    height: var(--switch-size);
    background-color: hsl(var(--manifold-c-grey));
    border-radius: 50%;
    transform: translateX(0);
    transition: color 150ms linear, transform 150ms cubic-bezier(0, 0.5, 0.5, 1);
    content: '';
  }
}

.mp--toggle__input {
  position: absolute;
  right: 100vw;

  &:checked ~ .mp--toggle__toggle {
    background-color: hsl(var(--manifold-c-muted-blue));
    &::after {
      background-color: hsl(var(--manifold-c-blue));
      transform: translateX(100%);
    }
  }
}
