:root {
  --manifold-c-white: #ffffff;
  --manifold-c-grey: #8f8f95;
  --manifold-c-grey-light: #c4c7ca;
  --manifold-c-grey-lightest: #f7f7f8;
  --manifold-c-red: #DB0A5B;

  --manifold-table-spacing: 28px;

  --manifold-table-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0699445);
  --manifold-table-border-width: 1px;
  --manifold-table-border-radius: 6px;
  --manifold-table-solid-border: 1px solid var(--manifold-c-grey-light);
  --manifold-table-dashed-border: 1px dashed var(--manifold-c-grey-light);
}

.manifold-pricing {
  box-shadow: var(--manifold-table-box-shadow);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  & .mp--column {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;

    & .mp--cell:last-child {
      border-bottom: var(--manifold-table-solid-border);
    }
  }

  & .mp--column:last-child {
    & .mp--cell {
      border-right: var(--manifold-table-solid-border);
    }
  }

  & .mp--cell {
    flex: 1;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    padding: var(--manifold-table-spacing);
    border-left: var(--manifold-table-solid-border);
  }

  & .mp--cell__body {
    background: var(--manifold-c-white);
    border-bottom: var(--manifold-table-dashed-border);
  }

  & .mp--cell__thead {
    background: #f7f7f8;
    border-top: var(--manifold-table-solid-border);
    box-sizing: border-box;
  }

  & .mp--cell__bbs {
    border-bottom: var(--manifold-table-solid-border);
  }

  & .mp--cell__brs {
    border-right: var(--manifold-table-solid-border);
  }

  & .mp--mobile-only {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .manifold-pricing {
    & .mp--column:first-child {
      & .mp--cell:first-child {
        border-radius: var(--manifold-table-border-radius) 0 0 0;
      }
      & .mp--cell:last-child {
        border-radius: 0 0 0 var(--manifold-table-border-radius);
      }
    }

    & .mp--column:last-child {
      & .mp--cell:first-child {
        border-radius: 0 var(--manifold-table-border-radius) 0 0;
      }
      & .mp--cell:last-child {
        border-radius: 0 0 var(--manifold-table-border-radius) 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .manifold-pricing {
    grid-template-columns: 1fr;
    box-shadow: none;

    & .mp--column {
      box-shadow: var(--manifold-table-box-shadow);

      & .mp--cell:first-child {
        border-radius: var(--manifold-table-border-radius) var(--manifold-table-border-radius) 0 0;
      }
      & .mp--cell:last-child {
        border-radius: 0 0 var(--manifold-table-border-radius) var(--manifold-table-border-radius);
      }
    }

    & .mp--cell {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-right: var(--manifold-table-solid-border);
    }

    & .mp--cell:last-child {
      margin-block-end: 3em;
    }

    & .mp--mobile-hidden {
      display: none;
    }

    & .mp--mobile-only {
      display: block;
    }
  }
}
