.mp--cost-tiers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--manifold-c-grey-darker);
  font-size: 14px;
  line-height: 17px;
  border-top: var(--manifold-table-metered-border);
}

.mp--cost-tiers__text {
  margin: 6px 0;
}

.mp--cost-tiers__last {
  text-align: right;
}
