.mp--cost-tiers {
  border-top: var(--table-metered-border);
  color: var(--c-gray-darker);
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.2;
}

.mp--cost-tiers__text {
  margin: 6px 0;
}

.mp--cost-tiers__last {
  text-align: right;
}
