.mp--plan-cost {
  color: hsl(var(--c-gray-darker));
  font-family: var(--f-body);
  font-size: 16px;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

.mp--subtext {
  color: hsl(var(--c-gray));
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
