@use "node_modules/@manifoldco/mercury";
$name: '' !default;

// ----------
//  Button
// ----------

.#{$name}__Button {
  @include mercury.Typography--Body;

  flex: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  color: mercury.$color-white;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  background: mercury.$color-blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  appearance: none;

  &:visited {
    color: mercury.$color-white;
  }

  &:hover {
    background: rgba(mercury.$color-blue, 0.85);
  }
}
