@use "node_modules/@manifoldco/mercury";
$name: '' !default;

// ----------
//  Cell
// ----------

$table-border-radius: 6px;
$table-solid-border: 1px solid mercury.$color-grayLight;
$table-dashed-border: 1px dashed mercury.$color-grayLighter;

.#{$name}__Cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  word-wrap: break-word;
  border-right: $table-solid-border;
  border-bottom: $table-dashed-border;

  &[data-column-first] {
    position: sticky;
    left: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    border-left: $table-solid-border;
  }

  &[data-row-first] {
    border-top: $table-solid-border;
  }

  &[data-row-last] {
    border-bottom: $table-solid-border;
  }

  &[data-column-first][data-row-first] {
    border-top-left-radius: $table-border-radius;
  }

  &[data-column-first][data-row-last] {
    border-bottom-left-radius: $table-border-radius;
  }

  &[data-column-last][data-row-first] {
    border-top-right-radius: $table-border-radius;
  }

  &[data-column-last][data-row-last] {
    border-bottom-right-radius: $table-border-radius;
  }

  // ----------
  //  Elements
  // ----------

  &__Disabled {
    color: mercury.$color-gray;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }

  // ----------
  //  Modifiers
  // ----------

  &--Block {
    display: block;
    padding: 0.75rem;
  }

  &--Body {
    box-sizing: border-box;
    background: mercury.$color-white;
    border-bottom: $table-dashed-border;
  }

  &--FeatureName {
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
    background: mercury.$color-white;
    border-bottom: $table-dashed-border;
  }

  &--PlanName {
    justify-content: flex-start;
    padding: 1.5rem 1rem;
    font-weight: mercury.$typography-headingLarge-fontWeight;
    font-size: mercury.$typography-headingLarge-fontSize;
    line-height: mercury.$typography-headingLarge-lineHeight;
    letter-spacing: mercury.$typography-headingLarge-letterSpacing;
    text-align: center;
    word-wrap: break-word;
    background: mercury.$color-grayLightest;
    border-bottom: $table-solid-border;
  }
}
