@use "node_modules/@manifoldco/mercury";
$name: '' !default;

// ----------
//  Check
// ----------

.#{$name}__Check {
  & svg {
    width: 1.5em;
    height: 1.5em;
    fill: mercury.$color-blue;
  }
}
