@use "node_modules/@manifoldco/mercury";
$name: '' !default;

// ----------
//  Loading
// ----------

@keyframes #{$name}__Animation__Load {
  50% {
    transform: translateY(-25%);
    opacity: 0.5;
  }
}

.#{$name}__Loading {
  display: flex;
  margin-top: 0.5rem;

  // ----------
  //  Elements
  // ----------

  &__Dot {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.125rem;
    margin-left: 0.125rem;
    background: mercury.$color-gray;
    border-radius: 4px;
    opacity: 0.2;
    animation-name: #{$name}__Animation__Load;
    animation-duration: 1.25s;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-iteration-count: 200;
    pointer-events: none;
  }
}
