@use "node_modules/@manifoldco/mercury";
$name: '' !default;

// --------------
//  NumericRange
// --------------

.#{$name}__NumericRange {
  // ----------
  //  Elements
  // ----------

  &__Desc {
    color: mercury.$color-gray;
    font-size: 12px;
  }

  &__Input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background: mercury.$color-white;
    border: 1px solid mercury.$color-grayLight;
    border-radius: 3px;
    box-sizing: border-box;
    color: inherit;
    font-size: 14px;
    min-width: 100%;
    padding: 0.5em;
    transition-duration: 150ms;
    transition-timing-function: linear;
    transition-property: border-color, color;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }

    &:focus,
    &:hover {
      color: mercury.$color-blue;
      border-color: mercury.$color-blue;
    }
  }
}
