manifold-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp--checkbox__check {
  width: 24px;
  fill: hsl(var(--manifold-check-color));
}

.mp--checkbox__input {
  display: none;
}

.mp--checkbox__input[type='checkbox'] ~ .mp--checkbox__check {
  display: none;
}

.mp--checkbox__input[type='checkbox']:checked ~ .mp--checkbox__check {
  display: inline;
}

.mp--checkbox__input[type='checkbox']:checked ~ manifold-empty-cell {
  display: none;
}
