manifold-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp--checkbox__check {
  width: 24px;
  fill: hsl(var(--manifold-check-color));
}

.mp--checkbox__blank {
  color: hsl(var(--manifold-empty-color));
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.mp--checkbox__input {
  display: none;
}

.mp--checkbox__input[type='checkbox'] ~ .mp--checkbox__check {
  display: none;
}

.mp--checkbox__input[type='checkbox']:checked ~ .mp--checkbox__check {
  display: inline;
}

.mp--checkbox__input[type='checkbox']:checked ~ .mp--checkbox__blank {
  display: none;
}
