.mp--metered {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mp--metered__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: hsl(var(--manifold-empty-color));
  font-size: 11px;
  line-height: 13px;
}

.mp--metered__header-text {
  margin: 6px 0;
  text-transform: uppercase;
}

.mp--metered__header-tar {
  text-align: right;
}
