:root {
  --manifold-c-black: 0, 0%, 0%;
  --manifold-c-blue: 224, 76%, 49%;
  --manifold-c-muted-blue: 218, 94%, 93%;
  --manifold-c-grey: 240, 3%, 57%;
  --manifold-c-grey-darker: 210, 12%, 22%;
  --manifold-c-grey-light: 210, 5%, 78%;
  --manifold-c-grey-lighter: 240, 7%, 93%;
  --manifold-c-grey-lightest: 240, 3%, 97%;
  --manifold-c-white: 0, 0%, 100%;

  --manifold-button-color: var(--manifold-c-blue);
  --manifold-button-text-color: var(--manifold-c-white);
  --manifold-empty-color: var(--manifold-c-grey);
  --manifold-check-color: var(--manifold-c-blue);

  --manifold-table-spacing: 9px;
  --manifold-table-block-spacing: 12px;
  --manifold-table-box-shadow: 0 2px 8px hsla(var(--manifold-c-black) 0.0699445);
  --manifold-table-border-width: 1px;
  --manifold-table-border-radius: 6px;
  --manifold-table-solid-border: var(--manifold-table-border-width) solid
    hsl(var(--manifold-c-grey-light));
  --manifold-table-dashed-border: var(--manifold-table-border-width) dashed
    hsl(var(--manifold-c-grey-lightest));
  --manifold-table-metered-border: var(--manifold-table-border-width) solid hsl(240, 1%, 87%);

  --manifold-table-f-body: -apple-system, BlinkMacSystemmanifold-tableont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --manifold-table-f-mono: 'IBM Plex Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    monospace;
}

.mp {
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(var(--manifold-table-rows), min-content) / repeat(
      var(--manifold-table-columns),
      minmax(220px, 250px)
    );
  overflow-x: auto;
  color: hsl(var(--manifold-c-grey-darker));
  font-size: 16px;
  font-family: var(--manifold-table-f-body);
  line-height: 19px;
  box-shadow: var(--manifold-table-box-shadow);
}

.mp--button {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  color: hsl(var(--manifold-button-text-color));
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  text-decoration: none;
  background: hsl(var(--manifold-button-color));
  border-radius: var(--manifold-table-border-radius);
  transition: background-color 0.3s ease;

  &:visited {
    color: hsl(var(--manifold-button-text-color));
  }

  &:hover {
    background: hsla(var(--manifold-button-color), 0.85);
  }
}

.mp--cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: var(--manifold-table-spacing);
  text-align: center;
  border-right: var(--manifold-table-solid-border);
  border-collapse: collapse;
}

.mp--cell__sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  flex-direction: row;
  color: hsl(var(--manifold-c-black));
  text-align: left;
}

.mp--cell__block {
  display: block;
  padding: var(--manifold-table-block-spacing);
}

.mp--cell__body {
  box-sizing: border-box;
  background: hsl(var(--manifold-c-white));
  border-bottom: var(--manifold-table-dashed-border);
}

.mp--cell__th {
  box-sizing: border-box;
  padding: calc(var(--manifold-table-spacing) * 3);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0125em;
  background: hsl(var(--manifold-c-white));
  border-bottom: var(--manifold-table-dashed-border);
}

.mp--cell__thead {
  justify-content: flex-start;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.0125em;
  text-align: center;
  background: hsl(var(--manifold-c-grey-lightest));
  border-bottom: var(--manifold-table-solid-border);
}

.mp--cell__al {
  justify-content: flex-start;
}

.mp--cell__bts {
  border-top: var(--manifold-table-solid-border);
}

.mp--cell__bbs {
  border-bottom: var(--manifold-table-solid-border);
}

.mp--cell__bls {
  border-left: var(--manifold-table-solid-border);
}

.mp--cell__rounded-tl {
  border-radius: var(--manifold-table-border-radius) 0 0 0;
}

.mp--cell__rounded-bl {
  border-radius: 0 0 0 var(--manifold-table-border-radius);
}

.mp--cell__rounded-br {
  border-radius: 0 0 var(--manifold-table-border-radius) 0;
}

.mp--cell__rounded-tr {
  border-radius: 0 var(--manifold-table-border-radius) 0 0;
}
