/* IBM Plex Mono */
@use "node_modules/@manifoldco/mercury";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$button-color: mercury.$color-blue;
$button-text-color: mercury.$color-white;
$empty-color: mercury.$color-gray;
$check-color: mercury.$color-blue;

$table-block-spacing: 12px;
$table-box-shadow: 0 2px 8px rgba(mercury.$color-black 0.0699445);
$table-border-radius: 6px;
$table-solid-border: 1px solid mercury.$color-grayLight;
$table-dashed-border: 1px dashed mercury.$color-grayLighter;
$table-metered-border: 1px solid #dedede;

$default-color: #dedede;
$selected-color: mercury.$color-blue;
$default-chevron-color: #585c5f;
$transition: 150ms linear;
$switch-size: 1rem;

.ManifoldPlanTable {
  @include mercury.Manifold__Typography__Body;

  box-shadow: $table-box-shadow;
  color: mercury.$color-grayDarker;
  display: grid;
  grid-auto-flow: column;
  grid-template: repeat(var(--table-rows), min-content) / repeat(
      var(--table-columns),
      minmax(220px, 250px)
    );
  overflow-x: auto;

  & [pattern='[0-9]*'] {
    font-family: mercury.$typography-monoBodyFontFamily;
  }
}

.ManifoldPlanTable__Button {
  @include mercury.Manifold__Typography__Body;

  background: $button-color;
  border-radius: $table-border-radius;
  box-sizing: border-box;
  color: $button-text-color;
  flex: 1;
  font-style: normal;
  font-weight: 500;
  padding: 13px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;

  &:visited {
    color: $button-text-color;
  }

  &:hover {
    background: rgba($button-color, 0.85);
  }
}

.ManifoldPlanTable__Cell {
  align-items: center;
  border-bottom: $table-dashed-border;
  border-right: $table-solid-border;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  word-wrap: break-word;

  &[data-column-first] {
    border-left: $table-solid-border;
    justify-content: flex-start;
  }

  &[data-row-first] {
    border-top: $table-solid-border;
  }

  &[data-row-last] {
    border-bottom: $table-solid-border;
  }

  &[data-column-first][data-row-first] {
    border-top-left-radius: $table-border-radius;
  }

  &[data-column-first][data-row-last] {
    border-bottom-left-radius: $table-border-radius;
  }

  &[data-column-last][data-row-first] {
    border-top-right-radius: $table-border-radius;
  }

  &[data-column-last][data-row-last] {
    border-bottom-right-radius: $table-border-radius;
  }
}

.ManifoldPlanTable__Cell--Block {
  display: block;
  padding: $table-block-spacing;
}

.ManifoldPlanTable__Cell--Body {
  background: mercury.$color-white;
  border-bottom: $table-dashed-border;
  box-sizing: border-box;
}

.ManifoldPlanTable__Cell--Sticky {
  color: mercury.$color-black;
  flex-direction: row;
  left: 0;
  position: sticky;
  text-align: left;
  z-index: 1;
}

.ManifoldPlanTable__Cell--TH {
  background: mercury.$color-white;
  border-bottom: $table-dashed-border;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.0125em;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  word-wrap: break-word;
}

.ManifoldPlanTable__Cell--THead {
  background: mercury.$color-grayLightest;
  border-bottom: $table-solid-border;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  justify-content: flex-start;
  letter-spacing: -0.0125em;
  line-height: 1.2;
  padding: 1rem;
  text-align: center;
  word-wrap: break-word;
}

.mp--cell__bts {
  border-top: $table-solid-border;
}

// ----------
//  Check
// ----------

.mp--check {
  fill: mercury.$color-blue;
  height: 1.5em;
  width: 1.5em;
}

// ----------
//  Loading
// ----------

@keyframes load {
  50% {
    opacity: 0.5;
    transform: translateY(-25%);
  }
}

.mp--loading {
  display: flex;
  margin-top: 0.5rem;
}

.mp--loading__dot {
  animation-duration: 1.25s;
  animation-iteration-count: 200;
  animation-name: load;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  background: mercury.$color-gray;
  border-radius: 4px;
  height: 0.5rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  opacity: 0.2;
  pointer-events: none;
  width: 0.5rem;
}

// -----------
//  Empty Cell
// -----------

.mp--empty-cell {
  color: $empty-color;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

// ----------
//  Metered
// ----------

.mp--metered {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mp--metered__header {
  color: $empty-color;
  display: grid;
  font-size: 11px;
  grid-template-columns: 1fr 1fr;
}

.mp--metered__header-text {
  margin: 6px 0;
  text-transform: uppercase;
}

.mp--metered__header-tar {
  text-align: right;
}

.mp--metered__cost-tiers {
  border-top: $table-metered-border;
  color: mercury.$color-grayDarker;
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.2;
}

.mp--metered__cost-tiers__text {
  margin: 6px 0;
}

.mp--metered__cost-tiers__last {
  text-align: right;
}

// --------------
//  Numeric Range
// --------------

.mp--numeric-range__desc {
  color: mercury.$color-gray;
  font-size: 12px;
}

.mp--numeric-range__input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: mercury.$color-white;
  border: 1px solid mercury.$color-gray;
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;
  font-size: 14px;
  min-width: 100%;
  padding: 0.5em;
  transition: border-color $transition, color $transition;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }

  &:focus,
  &:hover {
    color: mercury.$color-blue;
    border-color: mercury.$color-blue;
  }
}

// ----------
//  Plan
// ----------

.mp--plan-cost {
  color: mercury.$color-grayDarker;
  font-family: mercury.$typography-bodyFontFamily;
  font-size: 16px;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

.mp--plan-subtext {
  color: mercury.$color-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0.25rem;
}

/**
 * Select
 */

.mp--select {
  align-items: center;
  background: mercury.$color-white;
  border-radius: 3px;
  color: inherit;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  min-height: 2rem;
  position: relative;
  width: 100%;
}

.mp--select__chevron {
  border-left: 1px solid currentColor;
  fill: $default-chevron-color;
  padding: 0 4px;
  pointer-events: none;
  transition: fill $transition, border-color $transition;
  width: 20px;
}

.mp--select__border {
  background: transparent;
  border-radius: 3px;
  border: 1px solid mercury.$color-gray;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: border-color 150ms linear;
}

.mp--select__input {
  appearance: none;
  background: transparent;
  border: none;
  display: flex;
  flex-grow: 1;
  font-size: 1em;
  height: 100%;
  outline: none;
  padding: 0 0 0 0.375rem;
  text-indent: 0;
  transition: color 150ms linear;

  &::-ms-expand {
    display: none;
  }
}

.mp--select:focus-within {
  color: mercury.$color-blue;

  & .mp--select__border {
    border-color: mercury.$color-blue;
  }

  & .mp--select__chevron {
    fill: mercury.$color-blue;
  }
}

// ----------
//  Skeleton
// ----------

@keyframes shimmer {
  to {
    transform: translateX(100%); /* line width shouldn’t be more than this */
  }
}

.mp--skeleton {
  border-radius: 2px;
  color: transparent;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  position: relative;

  &::before {
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.1),
      hsla(0, 0%, 0%, 0.1) 1em,
      hsla(0, 0%, 0%, 0) 1em,
      hsla(0, 0%, 0%, 0) 1.4em
    );
    background-repeat: repeat-y;
    background-size: 100% 1.4em;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background-image: linear-gradient(
      60deg,
      transparent 50%,
      hsla(0, 0%, 100%, 0.5),
      transparent 60%
    );
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 0;
    width: 60em; /* derived from font size */
  }
}

// ----------
//  Toggle
// ----------

.mp--toggle {
  align-items: center;
  display: flex;
  margin: -0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  &:focus-within {
    color: mercury.$color-blue;
  }
}

.mp--toggle__toggle {
  background-color: mercury.$color-grayLighter;
  border-radius: 2rem;
  height: calc(0.5rem + #{$switch-size});
  min-width: calc(2.5 * #{$switch-size});
  position: relative;
  transition: background-color 150ms linear;
  width: calc(2.5 * #{$switch-size});

  &::before {
    border: 2px solid transparent;
    border-radius: 2rem;
    bottom: -0.25rem;
    content: '';
    left: -0.25rem;
    pointer-events: none;
    position: absolute;
    right: -0.25rem;
    top: -0.25rem;
    transition: border-color 150ms linear;
  }

  &::after {
    background-color: mercury.$color-gray;
    border-radius: 50%;
    content: '';
    height: $switch-size;
    left: 0.25rem;
    position: absolute;
    top: 0.25rem;
    transform: translateX(0);
    transition: color 150ms linear, transform 150ms cubic-bezier(0, 0.5, 0.5, 1);
    width: $switch-size;
  }
}

.mp--toggle__input {
  position: absolute;
  right: 100vw;

  &:focus {
    & ~ .mp--toggle__toggle {
      &::before {
        border-color: mercury.$color-blue;
      }
    }
  }

  &:checked ~ .mp--toggle__toggle {
    background-color: mercury.$color-mutedBlue;

    &::after {
      background-color: mercury.$color-blue;
      transform: translateX(100%);
    }
  }
}
